<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="<%= description %>" />
		<meta name="title" content="<%= title %>" />
		<meta name="robots" content="index,follow" />
		<meta name="googlebot" content="index,follow" />
		
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css?v=1' />
		<link rel='stylesheet' href='/stylesheets/main.css?v=5' />
		<link rel='stylesheet' href='/stylesheets/hotels.css?v=5' />
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-46482401-1', 'planetaraton.com.ar');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');

		</script>
	</head>
	<body role="document">
		<header>
			<h1 class="hide"><%= title %></h1>
			<h2 class="hide"><%= description %></h2>
			<h3 class="hide">Todo lo que tenes que saber antes de tu viaje a Orlando</h3>
		</header>

		<% include menu %>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">

